# Credenciales y BD
.env
.env.local
credenciales.local.txt

Reseteador.php

!.env.example

#php

vendor/

composer.phar

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
