header.BarraNavegacion{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background-color: #0D2673 ;
    color: var(#0D2673);
    min-height: 3.5rem;
    position: sticky;
    top: 0px;
    z-index: 100;
    justify-content: space-between;
}
.btnMenu, .btnMenuC{
display: none;
}
.BarraNavegacion h1{
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;

}
nav ul li{
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
}
.listaNavegacion a{
    color: white;
    font-size: 1rem;
    font-weight: 700;
    padding: 0.4rem 1rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.2s ease;
}
.listaNavegacion a:hover {
    color: #ed9921;
}
.listaNavegacion{
    display: flex;
    justify-content: first baseline;
    align-items: stretch;
    gap: 1rem;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    
}
@media (max-width: 768px){
.listaNavegacion{
display: none;
position: fixed;
left: 0;
top: 3.5rem;
flex-direction: column;
justify-content: flex-start;
width: 50vw;
height: calc(100vh - 3.5rem);
background-color: #143894;
}
}
@media (max-width: 768px) {
.btnMenu.oculto{
    display: none;
}
}
@media (max-width: 768px) {
.btnMenu{
    display: flex;
}
}
@media (max-width: 768px) {
.btnMenuC.visible{
    display: flex;
}
}
@media (max-width: 768px){
.btnMenu, .btnMenuC{
    align-items: center;
    background-color: #0D2673;
    border: none;
    padding: 0 0.5rem;
    height: 100%;
}
}
@media (max-width: 768px){
.listaNavegacion a{
    justify-content: flex-start;
    width: 100%;
}
}
@media (max-width: 768px){
.listaNavegacion.visible{
    display: flex;
}
}


