# Estos son ejemplos de variables de entorno para la configuración de la base de datos.
# En realidad deberían de aplicar sus propias credenciales de la base de datos y no subirlas al publico
# Para hacerlo pongan las credenciales en un archivo llamado unicamente .env y luego ese mismo archivo se agrega al .gitignore

BD_HOST="localhost"
BD_USER="deklan"
BD_PASS="123"
BD_NAME="test"